:host {
  display: block;
  height: 100%;

  mat-tab-group {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0 16px 16px 16px !important;
  }
}
