<mat-tab-group>
  <mat-tab label="{{ firstLabel }}">
    <ng-template matTabContent>
      <div class="content">
        <ng-content select="[first]"></ng-content>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ secondLabel }}">
    <ng-template matTabContent>
      <div class="content">
        <ng-content select="[second]"></ng-content>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ thirdLabel }}">
    <ng-template matTabContent>
      <div class="content">
        <ng-content select="[third]"></ng-content>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ fourthLabel }}">
    <ng-template matTabContent>
      <div class="content">
        <ng-content select="[fourth]"></ng-content>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
