@use '@angular/material' as mat;

.custom-toggle {
  display: flex;
  flex-direction: column;

  .toggle-title {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
  }

  .custom-toggle {
    @include mat.slide-toggle-overrides((
      selected-track-color: var(--true-color),
      selected-hover-track-color: var(--true-color),
      selected-focus-track-color: var(--true-color),
      selected-pressed-track-color: var(--true-color),

      unselected-track-color: var(--error-color),
      unselected-hover-track-color: var(--error-color),
      unselected-focus-track-color: var(--error-color),
      unselected-pressed-track-color: var(--error-color),

      selected-handle-color: var(--white-color),
      selected-hover-handle-color: var(--white-color),
      selected-focus-handle-color: var(--white-color),
      selected-pressed-handle-color: var(--white-color),

      unselected-handle-color: var(--white-color),
      unselected-hover-handle-color: var(--white-color),
      unselected-focus-handle-color: var(--white-color),
      unselected-pressed-handle-color: var(--white-color),

      selected-icon-color: transparent,
      unselected-icon-color: transparent,
    ));
  }
}
