.custom-icon-button {
  border: 2px solid black !important;
  background-color: transparent !important;

  .mat-icon {
    color: black !important;
  }

  &:active {
    transform: scale(0.95);
  }
}

.cib-stop {
  &:hover {
    background-color: var(--error-color) !important;
  }
}

.cib-start {
  &:hover {
    background-color: var(--true-color) !important;
  }
}
