:host {
  flex-direction: column;
  display: flex;
  flex: 1;
  width: 100%;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  line-height: revert;
  margin: 0 0 4px 16px;
}

app-ag-grid-bots-control {
  flex: 1;
  width: 100%;
}
