.mat-expansion-panel-header {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  height: 50px !important;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.block-subtitles {
  margin-top: 16px;
}
