<mat-accordion class="filter-core" >
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header class="filter-header">
      <mat-icon>filter_alt</mat-icon>
      Filters
<!--      <button mat-icon-button>-->
<!--        <mat-icon>refresh</mat-icon>-->
<!--      </button>-->
    </mat-expansion-panel-header>

    <div class="block-subtitles">
      <button>CONTENT</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>

