:host {
  display: flex;
  flex: 1;

  app-title-content-layout {
    display: flex;
    flex: 1;

    .bot-info-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 16px;
    }
  }
}

