:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  app-title-content-layout {
    display: flex;
    flex: 1;

    app-bot-info-page-tabs-container {
      display: flex;
      width: 100%;
      flex: 1;
    }
  }
}

