.input-component {
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
  }

  .wide-textarea {
    width: 100%;
    min-width: 300px;
  }
}
