.custom-icon-button {
  border: 1px solid black !important;
  background-color: transparent !important;
  //box-shadow: none !important;

  //НАСТРОЙКИ размеров блока ИКОНОК TODO:можно внедрить Input параметр для определения размеров
  //width: 30px !important;
  //height: 30px !important;
  //border-radius: 10px !important;

  .mat-icon {
    color: black !important;

    //НАСТРОЙКИ размеров ИКОНОК
    //font-size: 20px !important;
    //width: 20px !important;
    //height: 20px !important;
    //line-height: 20px !important;
  }

  &:hover {
    background-color: var(--neutral-color) !important;
  }

  &:active {
    transform: scale(0.95);
  }
}

.cib-stop {
  &:hover {
    background-color: var(--error-color) !important;
  }
}

.cib-start {
  &:hover {
    background-color: var(--true-color) !important;
  }
}
