.action-buttons {
  display: flex;
  gap: 8px;

  .custom-icon-button {
    border: 2px solid black !important;
    background-color: transparent !important;

    .mat-icon {
      color: black !important;
    }

    &:hover {
      background-color: var(--neutral-color) !important;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}


