:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .future {
    color: var(--true-color);
  }

  .past {
    color: var(--error-color);
  }

  .colorNone {
    color: var(--none-color);
  }

}
