<div class="row">
  <app-select-field
    [menuData]="botList"
    [selected]="formData.botTypeSelect"
    (emitter)="events($event, 'botSelect')"
  ></app-select-field>
  <app-input-text-area
    [title]="botTitle"
    [label]="'Bot parameters'"
    [placeholder]="'Enter bot parameters JSON'"
    [inputValue]="formData.botJSON"
    (emitter)="events($event, 'botTextArea')"
  >
  </app-input-text-area>
</div>

<div class="row">
  <app-select-field
    [menuData]="actionList"
    [selected]="formData.actionTypeSelect"
    (emitter)="events($event, 'actionSelect')"
  ></app-select-field>
  <app-input-text-area
    [title]="actionTitle"
    [label]="'Action parameters'"
    [placeholder]="'Enter action parameters JSON'"
    [inputValue]="formData.actionJSON"
    (emitter)="events($event, 'actionTextArea')"
  >
  </app-input-text-area>
</div>
