<div class="row">
  <app-input-text-area
    [title]="botInfoTitle"
    [label]="'Bot parameters'"
    [placeholder]="'Enter bot parameters JSON'"
    [inputValue]="botData"
    [rowsCount]="10"
    (emitter)="events($event, 'botTextArea')"
  >
  </app-input-text-area>
</div>

<div class="row">
  <app-input-text-area
    [title]="jobInfoTitle"
    [label]="'Job parameters'"
    [placeholder]="'Enter job parameters JSON'"
    [inputValue]="jobData"
    [rowsCount]="10"
    (emitter)="events($event, 'jobTextArea')"
  >
  </app-input-text-area>
</div>
