.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: end;
}

app-toggle {
  margin-bottom: 20px;
}

mat-divider {
  margin-bottom: 20px;
}

app-input-text-area {
  width: 100%
}
