<div class="column">
  <div class="image">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 26" width="600" height="400" fill="#000">
      <g transform="translate(2,0)">
        <path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/>
      </g>

      <line x1="2" y1="24" x2="2" y2="2" stroke="#000" stroke-width="1.5"/>
      <line x1="0" y1="22" x2="32" y2="22" stroke="#000" stroke-width="1.5"/>
    </svg>
  </div>
  <span>404... NOT FOUND</span>
  <span>Sorry, select other server</span>
</div>



