:host {

  .tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  app-bot-info-page-tabs {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  app-loader-container {
    flex: 1;
  }
}

.set-margin-top {
  margin-top: 16px;
}

.bot-control {
  display: flex;
  flex: 1;
}

app-ag-grid-bot-control-panel-container {
  height: 100px;
  width: 100%;
}
