@if (dataActiveBot$ | async; as list) {
  @if ((activeBotIsLoaded$ | async) && !(activeBotIsLoading$ | async)) {
    <app-bot-info-page-tabs
    [firstLabel]="'Control and params'"
    [secondLabel]="'Errors'"
    [thirdLabel]="'Job'"
    >
      <div first>
        <app-title-table-layout [title]="'Bot control - fix table height'">
          <app-ag-grid-bot-control-panel-container
            content
          ></app-ag-grid-bot-control-panel-container>
        </app-title-table-layout>
        <app-title-table-layout [title]="'Results'">
          <app-ag-grid-bot-data-list
            content
            [rowData]="list.botResultList.response"
          ></app-ag-grid-bot-data-list>
        </app-title-table-layout>
      </div>

      <div second>
        <app-title-table-layout [title]="'Errors'">
          <app-ag-grid-error-list
            content
            [rowData]="list.botErrorList.response"
          ></app-ag-grid-error-list>
        </app-title-table-layout>
      </div>

      <div third>
        <app-job-container></app-job-container>
      </div>


    </app-bot-info-page-tabs>
  } @else {
    <app-loader-container></app-loader-container>
  }
}
