@if (dataActiveBot$ | async; as list) {
  @if ((activeBotIsLoaded$ | async) && !(activeBotIsLoading$ | async)) {
    <app-bot-info-page-tabs
      [firstLabel]="'Control and params'"
      [secondLabel]="'Arbitrage'"
      [thirdLabel]="'Errors'"
      [fourthLabel]="'Job'"
    >
      <div first>
        <app-title-table-layout>
          <app-title-table-button
            title
            [title]="'Bot control'"
          ></app-title-table-button>
          <app-ag-grid-bot-control-panel-container
            content
          ></app-ag-grid-bot-control-panel-container>
        </app-title-table-layout>

        <app-title-table-layout>
          <app-title-table-button
            title
            [title]="'Results'"
          ></app-title-table-button>

          <app-ag-grid-bot-data-list-container
            content
            [rowData]="(dataActiveBot$ | async)?.botResultList?.response | transformObjectToKeyValue"
          ></app-ag-grid-bot-data-list-container>
        </app-title-table-layout>
      </div>

      <div second class="table-layout-wrapper">
        <app-title-table-layout>
          <app-title-table-button
            title
            [title]="'Arbitrage'"
          ></app-title-table-button>
          <app-ag-grid-arbitrage-list-container
            content
          ></app-ag-grid-arbitrage-list-container>
        </app-title-table-layout>
      </div>

      <div third>
        <app-title-table-layout>
          <app-title-table-button
            title
            [title]="'Errors'"
          ></app-title-table-button>
          <app-ag-grid-error-list
            content
            [rowData]="list.botErrorList.response"
          ></app-ag-grid-error-list>
        </app-title-table-layout>
      </div>

      <div fourth>
        <app-job-container></app-job-container>
      </div>


    </app-bot-info-page-tabs>
  } @else {
    <app-loader-container></app-loader-container>
  }
}
