:host {

  .table-layout-wrapper {
    height: 100%;

    app-title-table-layout {
      display: block;
      height: 100%;
    }
  }
  app-bot-info-page-tabs {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  app-loader-container {
    flex: 1;
  }

}
