<mat-tab-group dynamicHeight class="vertical-tabs"
               [selectedIndex]="selectedIndex"
               (selectedIndexChange)="onTabChange($event)">
  @for (item of list; track item) {
    <mat-tab label="{{ item | titlecase }}" >
      <app-title-content-layout [title]="item">
        @if (item === 'bots') {
          <app-ag-grid-bots-control-container></app-ag-grid-bots-control-container>
        } @else if (item === 'gates') {
          <app-ag-grid-gate-list-container></app-ag-grid-gate-list-container>
        } @else if (item === 'server data') {
          <app-ag-grid-server-data-container></app-ag-grid-server-data-container>
        }
      </app-title-content-layout>
    </mat-tab>
  }
</mat-tab-group>
