mat-tab-group {
  display: flex;
  flex: 1;

  app-title-content-layout {
    display: flex;
    height: 100%;

    .title-content-layout {
      display: flex;
      justify-content: center;
      flex: 1;

      app-not-found-page-page {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    app-loader-container {
      display: flex;
      flex: 1;
    }

    .server-page {
      display: flex;
      flex: 1;
      flex-direction: column;

      app-title-table-layout {
        display: flex;
        flex: 1;
      }
    }
  }
}

app-ag-grid-bots-control-container,
app-ag-grid-rules-table-container,
app-ag-grid-server-data-container,
app-ag-grid-bot-list-container,
app-ag-grid-action-list-container
{
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}
