mat-tab-group {
  height: 100%;

  app-title-content-layout {
    display: block;
    height: 100%;

    app-loader-container {
      width: 100%;
    }

    .server-page {
      height: 100%;
      width: 100%;
    }
  }
}

app-ag-grid-bots-control-container, app-ag-grid-gate-list-container {
  flex-direction: column;
  display: flex;
  flex: 1;
  width: 100%;
}
