.row {
  display: flex;
  flex-direction: row;
  align-items: end;

  .wide-textarea {
    width: 50%;
    min-width: 300px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 16px;
    gap: 16px;
    button {
      color: var(--none-color) !important;
    }
  }
}
