//@use '@angular/material' as mat;
.example-spacer {
  flex: 1 1 auto;
}


//.toolbar {
//  @include mat.toolbar-overrides((
//    container-background-color: orange,
//    container-text-color: red,
//  ));
//}
