<div class="container">
  <div class="panel" [class]="getPanelClass()">
    @if (isPanelOpen) {
      <div class="panel-content-open">
        <div class="button-group">
          <div class="header">
            <span class="title">{{ sidebarTitle | uppercase }}</span>
            <button mat-icon-button (click)="togglePanel()" class="toggle-button side-button">
              <mat-icon>arrow_left</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
          <div class="content">
            <!-- Здесь будут только заголовки вкладок -->
            <ng-content select="[sidebar]"></ng-content>
          </div>
        </div>
      </div>
    } @else {
      <div class="panel-content-closed">
        <div class="closed-content">
          <button mat-icon-button (click)="togglePanel()" class="toggle-button">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
      </div>
    }
  </div>

  <div class="main-content">
    <!-- Здесь будет содержимое вкладок -->
    <ng-content select="[main]"></ng-content>
  </div>
</div>
