:host {
  width: 100%;
  padding: 0 8px;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 20px;
      flex: 1 1 auto;
    }

    .actions-wrapper {
      flex: 0 0 auto;
    }

  }
}
