:host {
  width: 100%;
  padding: 8px
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;

  span {
    margin-right: 20px;
    flex: 1;
  }
}
