.title-content-layout {
  display: flex;
  flex-direction: column;

  .title {
    align-self: center;
  }

  .content {
    display: flex;
    min-height: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
