<div class="main-container">
  <app-title-content-layout
    [title]="'Bot Params'"
  >
    <div class="content">
      <app-title-table-layout
        [title]="'param_bots'"
      >
        <app-ag-grid-bots-control
          [rowData]="[data]"
          (emitter)="events($event)"
        ></app-ag-grid-bots-control>
      </app-title-table-layout>
      <app-title-table-layout
        [title]="'Errors'"
      >
        <app-ag-grid-error-list
          [rowData]="data.errors"
        ></app-ag-grid-error-list>
      </app-title-table-layout>
    </div>
  </app-title-content-layout>
</div>
