@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$true-color: #4caf50;
$error-color: #f44336;
$warn-color: #FFA500FF;
$none-color: #000000;
$neutral-color: #808080FF;
$white-color: #fff;
$main-back: linear-gradient(to right, #D2B585, #FFFFFF);

:root {
  --true-color:#{$true-color};
  --error-color: #{$error-color};
  --warn-color: #{$warn-color};
  --none-color: #{$none-color};
  --neutral-color: #{$neutral-color};
  --white-color: #{$white-color};
  --main-back: #{$main-back};
}

:root {
  @include mat.slide-toggle-overrides((
    selected-track-color: var(--true-color),
    selected-hover-track-color: var(--true-color),
    selected-focus-track-color: var(--true-color),
    selected-pressed-track-color: var(--true-color),

    unselected-track-color: var(--error-color),
    unselected-hover-track-color: var(--error-color),
    unselected-focus-track-color: var(--error-color),
    unselected-pressed-track-color: var(--error-color),

    selected-handle-color: var(--white-color),
    selected-hover-handle-color: var(--white-color),
    selected-focus-handle-color: var(--white-color),
    selected-pressed-handle-color: var(--white-color),

    unselected-handle-color: var(--white-color),
    unselected-hover-handle-color: var(--white-color),
    unselected-focus-handle-color: var(--white-color),
    unselected-pressed-handle-color: var(--white-color),

    selected-icon-color: transparent,
    unselected-icon-color: transparent,
  ));

  @include mat.toolbar-overrides((
    standard-height: 36px,
    title-text-size: 16px,
    container-background-color: linear-gradient(to right, #8E2D23, #DC5229),
    container-text-color: #ffff,
  ));

  @include mat.menu-overrides((
    container-shape: 12px,
    item-with-icon-leading-spacing: true,
    item-with-icon-trailing-spacing: true,
  ));

  @include mat.expansion-overrides((
    container-shape: none,
    container-elevation-shadow: none,
  ));

}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body, .toolbar, .panel, mat-button-toggle, mat-toolbar {
  font-family: Roboto, sans-serif !important;
}

.example-spacer {
  flex: 1 1 auto;
}

//ag-grid styles
.align-left .ag-header-cell-label {
  justify-content: flex-start;
}

.align-center .ag-header-cell-label {
  justify-content: center;
}

.align-right .ag-header-cell-label {
  justify-content: flex-end;
}
