@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body, .toolbar, .panel, mat-button-toggle, mat-toolbar {
  font-family: Roboto, sans-serif !important;
}

//ag-grid styles
.align-left .ag-header-cell-label {
  justify-content: flex-start;
}

.align-center .ag-header-cell-label {
  justify-content: center;
}

.align-right .ag-header-cell-label {
  justify-content: flex-end;
}
