:host {
  display: flex;
  min-height: 0;

  .title-content-layout {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    flex-direction: column;
    margin-top: 16px;

    .title {
      flex: 0 0 auto;
    }

    .content {
      display: flex;
      flex: 1 1 auto;
      min-height: 0;
    }
  }
}
