:host {
  .title-content-layout {
    height: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    .title {
      flex: 0 0 auto;
    }

    .content {
      flex: 1 1 auto;
    }
  }
}
