:host {
  height: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--main-back);
  width: 100%;
  height: 100%;

  mat-toolbar {
    flex-shrink: 0;
  }

  .form-settings {
    flex: 1 1 auto;
    overflow: auto;
    padding: 16px;
  }

  .footer {
    flex-shrink: 0;
    overflow: hidden;

    .footer-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;

      button {
        height: 24px;
        border: 1px solid black;
      }
    }
  }
}
