<div class="container">
  <mat-toolbar>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button matIconButton class="example-icon" (click)="event('close')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="form-settings">
    <ng-content select="[form]"></ng-content>
  </div>
  <div class="footer">
    <mat-toolbar>
      <span class="example-spacer"></span>
      <div class="footer-buttons">
        <button matButton="outlined" (click)="event('close')">Cancel</button>
        @if (itemData.id) {
          <button matButton="outlined" (click)="event('save')">Save</button>
        } @else {
          <button matButton="outlined" (click)="event('save')">Create</button>
        }
      </div>
    </mat-toolbar>
  </div>

</div>
