:host {
  height: 100%;
}

mat-toolbar{
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--main-back);
  width: 100%;
  height: 100%;

  .mat-mdc-button-touch-target {
    height: 24px !important;
    width: 24px !important;
  }

  .form-settings {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
  }

  .footer {
    margin-top: auto;

    .footer-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;

      button {
        height: 24px;
        border: 1px solid black;
      }
    }
  }
}
